*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}

#background-top{
    background-color: #029588;
    position: absolute;
    top: 0;
    z-index: -1;
    height: 150px;
    width: 100%;
}
#background-bot{
    background-color: #dddbd1;
    position: absolute;
    top: 150px;
    z-index: -1;
    height: calc(100vh - 150px);
    width: 100%;
}

#container{
    width: 90%;
    margin: 20px auto;
    height: calc(100vh - 40px);
    display: flex;    
}

#aside-lft{
    width: 30%;
    height: 100%;
    background-color: #eaeaea;
}

#aside-rgt{
    height: 100%;
    width: 70%;
}

.top-bar{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: #eaeaea;
    border-right:solid 1px #b1b1b1;
}

/* HEADER TOP LEFT SECTION */
.header-avatar-name{
    display: flex;
    align-items: center;
}

.top-bar .user-avatar{
    min-width: 60px;
    max-width: 60px;
}

#aside-lft .header-avatar-name h3{
    margin: 0 10px;
}

.icons i{
    color: #b1b1b1;
    font-size: 1.5rem;
    margin: 0 7px;
    cursor: pointer;
}
/* NEW MSG SECTION */
.banner-new-msg{
    height: 100px;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    background-color: #8edafc;
}
.bell-icon{
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background-color: white;
    color: #8edafc;
    text-align: center;
    line-height: 70px;
    font-size: 1.5rem;
}
.banner-new-msg-text{
    margin: 0 10px;
}
.banner-new-msg-text span{
    color: grey;
    text-decoration: underline;
    cursor: pointer;
}

/* SEARCH TAB SECTION */
.search-panel{
    padding: 0.5rem;
    display: flex;
    background-color: #eaeaea;
}
.search-panel div{
    width: 10%;
    height: 30px;
    background-color: white;
    text-align: center;
    line-height: 30px;
}
.search-panel input {
    width: 90%;
    height: 30px;
    border: none;
}

/* CONTACTS SECTION */
#contacts{
    height: calc(100% - 265px);
    overflow-y: auto;
}
.contact{
    display: flex;
    justify-content: space-between;
    border-top: solid #dfdfdf 1px;
    padding: 0.5rem 0.7rem;
    width: 100%;
    cursor: pointer;
}
.avatar-name-container{
    display: flex;
}
.user-avatar img{
    max-width: 100%;
    border-radius: 50%;
}
.user-avatar{
    min-width: 80px;
    max-width: 80px;
}

.user-name-last-msg{
    padding: 0.5rem 1rem;
}
.user-name-last-msg span{
    color: #b1b1b1;
}

.contact .date{
    color: #b1b1b1;
    padding: 0.5rem 1rem;
    min-width: 203px;
}

.contact.active{
    background-color: #dfdfdf;
}


/* HEADER TOP RIGHT SECTION */
.user-name-access-chat{
    margin-left: 10px;
}
.user-name-access-chat span{
    color: #b1b1b1;
    font-size: 0.9rem;
}

/* MESSAGES SECTION */
#messages{
    height: calc(100% - 160px);
    width: 100%;
    background-image:url(../img/pattern.jpg);
    background-size: 550px;
    background-position: right;

    padding: 1.5rem;
    overflow-y: auto;
/*     display: flex;
    flex-direction: column; */
}

.message-container{
    display: flex;
    flex-direction: column;
}

.message{
    min-width: 250px;
    max-width: 500px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    margin: 5px 0;

    display: flex;
    flex-direction: column;
    position: relative;
}

.message.sent{
    background-color: #dcf7c0;
    align-self: flex-end;
}

.message.received{
    background-color: #ffffff;
    align-self: flex-start;
}

.message span{
    color: #b1b1b1;
    font-size: 0.8rem;
    align-self: flex-end;
    margin-top: 0.3rem;
}
.arrow{
    display: none;
}
.message:hover .arrow{
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 1.1rem;
    cursor: pointer;
}

.info-text{
    display: none;
    position: absolute;
    right: 0;
    top: 20px;
    background-color: white;
    box-shadow: 1px 1px 5px black;
    list-style: none;
    padding: 10px;
}

.info-text li{
    cursor: pointer;
}

.d-block{
    display: block;
}

/* FOOTER CHAT TYPE SECTION */
#chat-type{
    height: 80px;
    background-color: #f2eeea;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.emotes{
    width: 5%;
    text-align: center;
}
.chat-input{
    width: 90%;
}
.chat-input input{
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
}
.audio{
    text-align: center;
    width: 5%;
}