<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>
<body>
    <div id="background-top">

    </div>
    <div id="background-bot">
        
    </div>
    <div id="container">

        <aside id="aside-lft">

            <header class="top-bar">

                <div class="header-avatar-name">
                    <div class="user-avatar">
                    
                        <img src="img/avatar_io.jpg" alt="Flu">
    
                    </div>
    
                    <h3>Flu</h3>
                </div>

                <div class="icons">

                    <i class="fas fa-circle-notch"></i>

                    <i class="fas fa-comment-alt"></i>

                    <i class="fas fa-ellipsis-v"></i>

                </div>

            </header>

            <section class="banner-new-msg">

                <div class="bell-icon">
                    <i class="fas fa-bell-slash"></i>
                </div>

                <div class="banner-new-msg-text">
                    <h3>Ricevi notifiche di nuovi messaggi</h3>
                    <span>Attiva notifiche desktop</span>
                </div>

            </section>

            <section class="search-panel">

                <div><i class="fas fa-search"></i></div>

                <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchedValue">

            </section>

            <!-- v-for contact in contacts -->
            <section id="contacts">

                <div class="contact clearfix" v-for="contact, i in contacts" :key="i" @click="activeContact = i" :class="activeContact === i ? 'active' : ''" v-if="contact.name.includes(searchedValue)">

                    <div class="avatar-name-container">
                        <div class="user-avatar">
                            <img :src=" 'img/avatar' + contact.avatar + '.jpg'" :alt="contact.name">
                        </div>
                        <div class="user-name-last-msg">

                            <h3>{{contact.name}}</h3>
    
                            <span>{{contact.messages[contact.messages.length - 1].text}}</span>
    
                        </div>
                    </div>

                    <div class="date">
                        <span>15/11/2021 12:12:50</span>
                    </div>
                
                </div>

            </section>

        </aside>

        <aside id="aside-rgt">

            <header class="top-bar">

                <div class="header-avatar-name" v-for="contact,i in contacts" v-if="activeContact === i">

                    <div class="user-avatar">
                    
                        <img :src="'img/avatar' + contact.avatar +'.jpg'" alt="contact.name">
                        
                    </div>
    
                    <div class="user-name-access-chat">
                        <h3>{{contact.name}}</h3>
                        <span>Ultimo accesso oggi alle </span>
                        <span>15/11/2021 10:20:17</span>
                    </div>
                    
                </div>

                <div class="icons">

                    <i class="fas fa-search"></i>

                    <i class="fas fa-paperclip"></i>

                    <i class="fas fa-ellipsis-v"></i>

                </div>

            </header>

            <main id="messages">

                <div class="message-container" v-for="contact, i in contacts">
                    <div class="message" v-for="message, j in contact.messages" :key="j" :class="message.status == 'sent' ? 'sent' : 'received'" v-if="activeContact === i">
                        <div>{{message.text}}</div>
                        <span>{{message.date}}</span>
                    </div>
                </div>

            </main>

            <footer id="chat-type">

                <div class="emotes icons">
                    <i class="far fa-smile"></i>
                </div>

                <div class="chat-input">
                    <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keydown.enter="pushNewMessage(), sendAnswer()">
                </div>

                <div class="audio icons">
                    <i class="fas fa-microphone"></i>
                </div>

            </footer>

        </aside>

    </div>
<!--     <script src="path/to/dayjs/dayjs.min.js"></script>
    <script>
        dayjs().format()
    </script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/script.js"></script>
</body>
</html>